{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<h1 align="center">Transactions</h1>
<ul class="list-group list-group-flush" id="notes">
  {% for note in user.notes %}
  <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
      <span aria-hidden="true">&times;</span>
    </button>
  </li>
  {% endfor %}
</ul>
<form method="POST">
  <textarea name="note" id="note" class="form-control"></textarea>
  <br />
  <div align="center">
    <button type="submit" class="btn btn-primary">Withdraw/Deposit</button>
  </div>
</form>
<h2 align="center">Account Details</h2>
<div id="user-info">
    <p>Email: {{ user.email }}</p>
    <p>First Name: {{ user.first_name }}</p>
    <p>Last Name: {{ user.last_name }}</p>
    <p>E-banking: {{ ebank }}</p>
  </div>


{% endblock %}